<style>
  .container {
    width: 500px;
    margin: 0 auto;
  }

  .progress_outer {
    border: 1px solid #000;
    width: 400px;
    height: 22px;
  }

  .progress {
    width: 0%;
    background: #DEDEDE;
    height: 20px;
  }

</style>
<%= stylesheet_pack_tag 'hello_vue' %>
<%= javascript_pack_tag 'hello_vue' %>

<filepicker data-message="Hello!" id="hello-vue"></filepicker>

<!--<div class='container'>
  <form method="post" enctype="multipart/form-data">
    <p>
      Select File: <input type='file' id='_file' multiple>
      <input type='button' id='_submit' value='Upload!'>
    </p>
    <div class='progress_outer'>
      <div id='_progress' class='progress'></div>
    </div>
  </form>
  <div id="preview-container" style="height: 800px; width: 300px;">

  </div>
</div-->

<script type="text/javascript" charset="utf-8">
  var _submit = document.getElementById('_submit'),
      _file = document.getElementById('_file'),
      _progress = document.getElementById('_progress'),
      _preview = document.getElementById('_preview');

  var renderImage = function(image) {
    var imageContainer = document.createElement('div');
    imageContainer.setAttribute('id', 'image' + image.id);
    var imageEl = document.createElement('img');
    var removeButton = document.createElement('button');
    removeButton.textContent = 'REMOVE';
    removeButton.setAttribute('id', 'remove' + image.id);
    imageContainer.appendChild(imageEl);
    imageContainer.appendChild(removeButton);
    imageEl.setAttribute('class', 'img-thumbnail');
    imageEl.setAttribute('src', image.url);
    var previewContainer = document.querySelector('#preview-container');
    previewContainer.appendChild(imageContainer);

    removeButton.addEventListener('click', () => {
          remove(image);
        },
    );
  };

  var upload = function() {
    if (_file.files.length === 0) {
      return;
    }
    var data = new FormData();
    for (var i = 0; i < _file.files.length; i++) {
      data.append('images[]', _file.files[i]);
    }
    var request = new XMLHttpRequest();
    request.onreadystatechange = function() {
      if (request.readyState === 4) {
        try {
          var resp = JSON.parse(request.response);
          _file.value = '';
        } catch (e) {
          var resp = {
            status: 'error',
            data: 'Unknown error occurred: [' + request.responseText + ']',
          };
        }
        var imageData = imageData.images;
        for (var i = 0; i < imageData.length; i++) {
          var image = imageData[i];
          renderImage(image);
        }
      }
    };

    request.upload.addEventListener('progress', function(e) {
      _progress.style.width = Math.ceil(e.loaded / e.total) * 100 + '%';
    }, false);

    request.open('POST', '<%= upload_images_url %>');
    request.send(data);
  };

  function remove(image) {
    var request = new XMLHttpRequest();
    request.onreadystatechange = function() {
      if (request.readyState === 4) {
        try {
          var resp = JSON.parse(request.response);
        } catch (e) {
          var resp = {
            status: 'error',
            data: 'Unknown error occurred: [' + request.responseText + ']',
          };
        }

        var imageContainer = document.querySelector('#image' + image.id);
        imageContainer.remove();
      }
    };
    request.open('DELETE', image.delete_url);
    request.send(image.id);
  }

//  _submit.addEventListener('click', upload);

</script>
